body { 
    background-color: rgb(221, 224, 224);
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90vh; 
   
}


div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 70px;
}

a {
    position: absolute;
    top: 0;
    right: 0;
    margin: 20px;
}