<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
    <link rel="stylesheet" type="text/css" href="/public/assets/dashboard.css">
    <!-- Additional libraries or stylesheets can be added here -->
</head>

<body>

    <header>
        <h1>Dashboard</h1>
    </header>
    <body>
        <iframe src="https://www.jdoodle.com/a/7dWN" height="1500" width="100%"></iframe>
    </body>

</body>
