<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Index</title>
        <link rel="stylesheet" type="text/css" href="/public/assets/index1.css">
        <script type= "text/javascript"src="/public/assets/index.js"></script>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>

        
        <div class="container">
            
            <div class="top-container">
                
                <h1>Programas</h1>
                <p>Bienvenido! Aqui ofrecemos compilers para Python, C y Java gratituo
                    con posibilidad de hacer login y salvar tu codigo. <br>Ademas, podras 
                    hacer 3 proyectos con tutoriales.
                    
                    Quieres saber como funcionan el Python, C y el Java y hacer proyectos con ellos? Mira lo 
                    que ofrecemos! </p>

                <div class="input">
                        <input type="text" id="userInput" placeholder="Quieres hacer un juego en Python, C o Java?">
                        <div class="buttons">
                            <input type="submit" class="button" value="Submit" onClick="websiteValidator()">
                            <input type="submit" class="button" value="Compilers" onClick="compilers()">
                        </div>
                </div>
            </div>
            <div class="bottom-container">
                <div class="section1">
                    <div class="content">
                        <h1>Python</h1>
                        <p>Si eliges el python, aprenderas
                            a hacer un simple juego de adivinar numeros!
                        </p>   
                    </div>
                </div>
                <div class="section2">
                    <div class="content">
                        <h1>C</h1>
                        <p>Con C aprenderas a validar cartas de credito!</p>
                    </div>
                </div>
                <div class="section3">
                    <div class="content">
                        <h1>Java</h1>
                        <p>Usando Java, crearas algo que te podria servir! Un To-Do List!</p>
                    </div>
                </div>
            </div>
        </div>

        <footer>
            <p>&copy; 2024 Proyecto. Todo los derechos reservados.</p>
        </footer>





    </body>






</html>