body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f5f5f5;
    color: #333;
}

header {
    background-color: #4285f4;
    color: white;
    padding: 10px;
    text-align: center;
}

.container {
    display: flex;
    justify-content: space-between;
    padding: 20px;
}

.sidebar {
    display: flex;
    flex-direction: column;
    background-color: #333;
    color: white;
    width: 250px;
    padding: 20px;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
}

.main-content {
    flex-grow: 1;
    padding: 20px;
}

.card {
    background-color: white;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.card h2 {
    color: #333;
}

.button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #4285f4;
    color: white;
    text-decoration: none;
    border-radius: 4px;
}

.button:hover {
    background-color: #357ae8;
}

/* Additional styles can be added here */

li {
    height: 20%;
}

#container {
    margin: 70px;
}